/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #outro {
        height: 100px;
    }
    #intro {
        margin-top: 0px !important;
        padding-top: 0 !important;
    }
    .scroll__text {
        width: 90%;
    }
    #scrolly {
        padding: 10% 10% 0 10%;
        background: #ced8db;
    }
    main#container {
        background-color: #ced8db;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #outro {
        height: 1300px;
    }
    #intro {
        margin-top: -100px !important;
        padding-top: 0 !important;
    }
    .scroll__text {
        width: 500px;
    }
    #scrolly {
        padding: 10% 10% 0 10%;
        background: #ced8db;
        /* width: 700px !; */
    }
    main#container {
        background-color: #ced8db;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #outro {
        height: 1500px;
    }
    #intro {
        margin-top: -100px !important;
        padding-top: 0 !important;
    }
    .scroll__text {
        width: 700px;
    }
    #scrolly {
        padding: 10% 10% 0 10%;
        background: #ced8db;
    }
    main#container {
        background-color: #ced8db;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        background-color: white;
    }
    #outro {
        height: 1800px;
    }
    #scrolly {
        padding: 10% 10% 0 10%;
        background: white;
    }
    #scroll {
        margin-left: 0px;
        margin-right: 0px;
    }
    .titulo {
        letter-spacing: 0.05em;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #masInfo {
        position: absolute;
        /* margin: 55% 0 0 2%; */
        top: 10px;
        right: 20px;
        font-size: 12px;
    }
    .scroll__text {
        width: 700px;
    }
    .modal .modal-dialog {
        width: 90%;
    }
    .legend {
        /* padding: 0 0 5px 15px !important;
        margin: 0 0 5px 0px !important; */
        color: #ced8db;
    }
    #firstStep {
        margin-top: -200px !important;
    }
    .svg-item {
        width: 150px !important;
    }
    .iconos-sistemas {
        max-width: 100px !important;
    }
    #intro {
        margin-top: -600px !important;
        padding-top: 0 !important;
    }
    #footer1 {
        padding-top: 94px;
        padding-bottom: 64px;
        margin-top: 0px;
    }
    main#container {
        background-color: #666;
    }
 }


@media (min-width: 1600px) { 
    #outro {
        height: 1800px;
    }
    #intro {
        margin-top: -850px !important;
        padding-top: 0 !important;
    }
}

@media (max-width: 576px) {
    body {
        background-color: white;
    }
    #outro {
        height: 500px;
    }
    #scrolly {
        padding: 5% 10% 0 10%;
    }
    #scroll {
        margin-left: 0px;
        margin-right: 0px;
    }
    .titulo {
        letter-spacing: 0.05em;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #masInfo {
        position: absolute;
        margin: 55% 0 0 2%;
        font-size: 12px;
    }
    #descargas {
        position: absolute;
        margin: 55% 0 0 0;
        bottom: unset;
        right: unset;
        top: 10px;
        left: 10px;
        /* margin: 55% 0 0 2%;
        font-size: 12px; */
    }
    
    .scroll__text {
        width: unset;
    }
    .modal .modal-dialog {
        width: 95%;
    }
    .legend {
        /* padding: 0 0 5px 10px !important;
        margin: 0 0 5px 0px !important; */
        color: #ced8db;
    }
    #firstStep {
        margin-top: -200px !important;
    }
    .svg-item {
        width: 150px !important;
    }
    .iconos-sistemas {
        max-width: 80px !important;
    }
    #intro {
        margin-top: 0px !important;
        padding-top: 0 !important;
    }
    #outro {
        margin-bottom: 250px;
    }
    
      /*
      #barraAcerca{
        padding: 0;
      }*/
}
@media (min-width: 768px) { 
    .footer .item1 {
        padding: 0;
      }
 }
 @media (max-width: 768px) { 
    .footer .item1 {
        padding: 0;
      }
 }