#outro {
  height: 640px;
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: #f3f3f3; */
  /* padding-top: 1rem;  */
  /* padding: 1rem; */
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* article {
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
} */

#contentViz {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  /* z-index: 0; */
}

.step {
  /* margin: 0 auto 2rem auto;
  background-color: #3b3b3b; */
  color:#ced8db;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active section {
  /* background-color: goldenrod;
  color: #3b3b3b; */
  opacity: 1;
}

/* .step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
} */


/* Nuevos estilos */
#logoHeader {
  max-width: 85px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  /* top: 0; */
  background-color: #fff;
}

#tablaScore thead tr:nth-child(1) th {
  background: #0d3b49;
  position: sticky;
  top: 0;
  z-index: 10;
}

#tablaScore {
  line-height: 1.3;
}

.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

/* pictogram */
.table {
  color: #ced8db !important;
  background-color: #0d3b49;
}

.table-container {
  width: 100%;
  overflow: auto;
  height: 90%;
}

.table-container table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: 90%;
  font-weight: 400;
  margin-top: 10px;
}

.table-container th {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 80%;
}

.table-container td,
th {
  padding-left: 10px;
  padding-right: 10px;
}

span.fa {
  display: inline-block;
}

td>span {
  float: left;
}

span.text {
  width: 40px;
  text-align: right;
  padding-right: 10px;
  font-size: 80%;
  color:#ced8db;
}

span.title {
  font-size: 80%;
  color:#ced8db;
}

th.puntaje,
td.puntaje {
  width: 50%;

}

th.puntaje {
  font-size: 80%;
}

th.diferencia {
  font-size: 80%;
}

th.diferencia,
td.diferencia {
  width: 20%;
}

th.colEntidad,
td.colEntidad {
  width: 30%;

}

.fa-arrow-up {
  color: darkgreen;
}

.fa-arrow-right {
  color: slategrey;
}

.fa-equals {
  color: slategrey;
}

.fa-arrow-down {
  color: red;
}

.icon-cat1 {
  background-image: url(img/icon-normatividad.svg);
  background-size: auto 100%;
}

.icon-cat2 {
  background-image: url(img/icon-infraestructura.svg);
  background-size: auto 100%;
}

.icon-cat3 {
  background-image: url(img/icon-capital-humano.svg);
  background-size: auto 100%;
}

.icon-cat4 {
  background-image: url(img/icon-datos.svg);
  background-size: auto 100%;
}

.icon-cat5 {
  background-image: url(img/icon-comunicacion.svg);
  background-size: auto 100%;
  fill: black;
}

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-top: 3px;
}

.svg-inline--fa {
  vertical-align: initial !important;
}

ul.no_bullet {
  list-style-type: none;
  /* padding: 0;
  margin: 0; */
  padding-left: 10px;
}

li.normatividad {
  background: url(img/icon-normatividad.svg) no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

li.infraestructura {
  background: url(img/icon-infraestructura.svg) no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

li.capitalHumano {
  background: url(img/icon-capital-humano.svg) no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

li.mapeoGestion {
  background: url(img/icon-datos.svg) no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

li.devMecanismos {
  background: url(img/icon-comunicacion.svg) no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

text, line, .domain {
  color: #ced8db;
}

#tablaData tr:hover {
  color: #3aafe4 !important;
  background-color: rgba(0, 0, 0, 0.20) !important;
}

.stackedBar text {
  fill: #ced8db;
}

#pictograma th {
  color: #ced8db;
}

#pictograma tr:hover {
  color: #3aafe4 !important;
  background-color: rgba(0, 0, 0, 0.20) !important;
}

.custom-select {
  background-color:#0d3b49 !important;
  color:#3aafe4 !important;
  background: #3aaee400 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%233aafe4' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right 0.75rem center/8px 10px no-repeat !important;
  
}

.modal-body, .modal-footer {
  background-color: #ced8db !important;
}

.progress {
  background-color: #ced8db26 !important; 
}

.modal-header {
  background-color: #ced8db;
}

.site-footer a {
  color: #ced8db;
}

#footer-about {
  color: #666;
}
