@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}

#sections {
    position: relative;
    display: inline-block;
    /* width: 400px; */
    top: 90px;
    z-index: 5;
    /* margin-right: 50px; */
}

.categoryLegend {
    font-family: 'Roboto', sans-serif;
}

.tituloSeccion{
    text-align: left;
    margin-bottom: 2rem;
}
.seccion {
    padding-bottom: 100px;
    /* height: 1200px; */
    min-height: 700px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.3;
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    /* border-radius: 3px; */
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    max-width: 400px;
    z-index: 20;
}

#tooltip strong {
    color: #34b3eb;
}

svg circle:hover{
    cursor: pointer;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

.small-text {
    padding-right: 50px;
}

#logoFooter {
    max-width: 85px;
}

.footer {
    position: sticky;
    /*bottom: 0;
    width: 100%;
    height: 500px; */
    line-height: 1.46429em;
    background-color: rgba(102, 102, 102, 1);
    color: #fff;
    min-height: 150px;
    z-index: 11;
}

#footer1 {
    padding-top: 94px;
    padding-bottom: 64px;
    margin-top: 20px;
}

#logoFooter {
    max-width: 85px;
    padding-top: 15px;
}

#logoHeader {
    max-width: 85px;
}

#libreUso {
    max-width: 140px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#logoSesna {
    width: 115px;
    padding-top: 50px;
    padding-bottom: 45px;
}

.txtFooter {
    margin-bottom: 16px;
}

a.txtFooter {
    margin-bottom: 16px;
    color: #fff;
}

#footerFin {
    background-color: #fff;
}

#descargas {
    position: fixed;
    bottom: 10px;
    /* left: 20px;
    float: left; */
    display: block;
    z-index: 10;
}

#descargas .btn {
background-color: white !important;
}

#descargas .btn-outline-secondary:hover {
    color: #34b3eb;
}
#intro {
    position: fixed;
    top: 300px;

}

.centerProgress{
    align-items:center !important;
  }

#principalTitle {
    position: relative;
    display: inline-block;
    top: 60px;
    width: 100%;
}
.centerText{
    text-align: center;
}
#graficaUno {
    position: relative;
    display: inline-block;
    /* width: 400px; */
    top: 60px;
    z-index: 5;
    /* margin-right: 50px; */
}

.barraCH {
    background-color: #674ea7 !important;
    font-size: 0.9375rem !important;;
}
.barraMC {
    background-color: #fbbc04 !important;
    font-size: 0.9375rem !important;;
}

.barraInf{
    background-color: #34a853 !important;
    font-size: 0.9375rem !important;;
}

.barraGD{
    background-color: #ff6d01 !important;
    font-size: 0.9375rem !important;;
}
.barraCero{
    background-color: #ced8db26 !important;
    font-size: 0.9375rem !important;
    color: #fff !important;
}
.barraNor{
    background-color: #34B3EB !important;
    font-size: 0.9375rem !important;
}

/* p{
    margin-bottom: 2rem !important;
} */

.categoryName{
    font-size: 0.9375rem;
    text-align: center;
}

.progress {
    border-radius: 0px !important;
}

path.entidad:hover {
    /* fill : #99D9F5; */
    opacity: 0.8;
    cursor: pointer;
}

.table td, .table th {
    vertical-align: middle !important;
    border-top: unset !important;
}

/* Tamaño Container */
@media (min-width: 576px) {
    .container {
        max-width: 95% !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 95% !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 90% !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1750px !important;
    }
}

@media (max-height: 800px) {

    #tablaScore th,
    #tablaScore td {
        padding: 0.25rem !important;
    }

    .tableFixHead {
        top: 65px !important;
    }
    #tablaScore {
        line-height: 1 !important;
    }
    .table-container {
        line-height: 1;
    }
}

@media (max-height: 600px) {

    #tablaScore th,
    #tablaScore td {
        padding: 0.1rem !important;
    }

    .tableFixHead {
        /* overflow-y: auto; */
        height: 500px;
    }
    #tablaScore {
        line-height: 1 !important;
    }

}

#tablaScore th,
#tablaScore td {
    padding: 0.25rem;
}

#tablaScore th {
    text-align: center;
}

/* temp */ 
#vis svg {
    position: absolute;
    /* top: 0px; */
    margin-top: -10%;
}

#tablaScore th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

#tablaScore th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #3aafe4 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#tablaScore th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

#tablaScore th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

#tablaScore th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

.tooltipRadar {
    pointer-events: none;
    position: absolute;
    display: none;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 9px 14px 6px 14px;
    border-radius: 2px;
    text-align: center;
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
    z-index: 1051;
}

.tooltipRadar span {
    font-weight: 500;
    color: #081F2C;
}

.iconos-footer1 {
    border: 0 none;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    margin-left: 30px;
  }
  
  .column-sola {
    background-color: #6b808a;
    height: 250px;
    margin-top: -50px;
    max-width: 50px !important;
  }
  
  .row-solo {
    background-color:#bae3f7;
    /* padding-left: 0px;
    padding-right: 0px; */
    /* padding-left: -500px */
  }
  
  #row-background {
  /* height: 274px; */
  /* margin-top: -24px; */
  background-color: #124759;
  /* position:fixed; */
  /* top:0px;
  right:0px; */
  }
  
  .footer-row{
    margin-top: 20px;
  }
  
  .footer-aling {
  justify-content: flex-end !important
  }
  
  #img-github {
    width: 80px;
  }
  
  .article {
  color: #d0d7d9 !important;
  }
  
  @media (max-width: 576px) {
    .site-footer {
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .footer-row {
        text-align: center !important;
        align-items: center !important;
    }
    .site-footer .justify-content-start {
        justify-content: center !important;
    }
    .iconos-footer {
        height: 50px;
        padding: 0;
        margin-top: 20px
    }
    .footer-aling {
        justify-content: center !important
    }
    #img-github {
        width: 150px;
    }
    .iconos-menu {
        height: 40px;
        padding: 0px;
    }
    #text-sesion {
        display: none;
    }
  }
  
  .site-footer {
    /* margin-top: 20px; */
    padding-top: 50px;
  
  }
  
  .footer-link:hover {
    color: #FFF !important;
    border-bottom: 2px solid #3ab0e5;
    text-decoration: none;
  }
  
  
  .site-footer a {
    color: #ced8db;
  }
  
  #footer-about {
    color: #666;
  }
  
  .iconos-footer {
    height: 90px;
    /* padding-top: 0px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 15px;
    padding: 0px 56px 15px 0px; */
    margin:5px;
  }


  /*  Estilos para el nav del rediseño */
  #navbarHeadLegislacion{
    background:transparent linear-gradient(230deg, #1C7CBF 0%, #1C7CBF 4%, #9F58E2 49%, #6D4061 100%) 0% 0% no-repeat padding-box !important; z-index: 2; position: relative;
    color: f2f0f2;
  }

/* .txt1v1, .txt1v2, .txt1v1After, .txt1v2After, {
    color: #000;
} */

li, p, tr, .tituloSeccion, .seccion, #txt1, #vis, #pictograma th{
    color: #000 !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #000 !important;
  }

  .custom-select{
    border: 1px solid #666 !important;
    border-radius: 0;
  }

 ext, line, span.text, span.title, .domain {
    color: #000;
  } 

  .stackedBar text {
    fill: #000;
  }
  
  .fa-equals {
    color: #000;
  }

  .color-rosa{
    color: #713972 !important;
  }

.tablaPictograma.th, .tablaPictograma.tr {
    background-color: ebe9f9 !important;
}

/* 
  #pictograma{
    background-color: #f2f0f2 !important;
  } */

.tituloLegislacion{
    color: #FFF !important;
}

/* footer */

/********* SECCIÓN FOOTER **********/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* height: 500px; */ /* Set the fixed height of the footer here */
    line-height: 1.46429em;
    /*background-color: rgba(102, 102, 102, 1);
    color: #fff;
    min-height: 150px;*/
    background: #fff !important;
    border: none;
    border-top: 1px solid #ccc;
  }
  

.footer .item1 img {
    height: 27px;
  }
  
  .footer .acerca {
    background: transparent linear-gradient(230deg, #1C7CBF 0%, #1C7CBF 4%, #9F58E2 49%, #6D4061 100%) 0% 0% no-repeat padding-box;
  }
  
  .footer .acerca p {
  
    text-align: right;
    color: #e8e8e8;
  }
  
  .footer .acerca p a {
    color: #e8e8e8;
    text-decoration: none;
  }
  
  .footer .acerca p a:hover {
    text-decoration: underline;
  }
  
  
  .footer p {
    padding: 5px 10px 5px 10px;
  }
  
  
  .footer a {
    font-size: .8em
  }
  
  .footer .redes, .footer .acerca, .footer .logos1 {
    margin: 20px 0;
  }
  
  .footer .item1 {
    padding: 2rem 7rem 2rem 0;
  }
  
  .footer .item3 {
    padding: 2rem 0rem 2rem 0;
  }
  
  .footer .item3 img {
    height: 80px;
    padding: 0px 15px 20px 0px;
  }
  
  
  .footer .logos1, .footer .logos2 {
    display: flex;
    justify-content: center;
  }
  
  
  .footer .item2 {
    padding: 0;
    margin: 0;
  }
  
  .footer .item0 {
    background: #7f5277;
    color:#fff;
  }
  
  .footer li a {
    padding: 0;
    text-transform: none;
  }
  
  .footer li a:hover {
    text-decoration: underline;
  }
  
  
  
  .footer .rellenar-altura {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .footer .col2 {
    background: #815474;
    width: 100px;
    height: 100%;
  }
  
  .footer ul {
    padding: 10px;
  }
  
