#outro {
  height: 640px;
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: #f3f3f3; */
  /* padding-top: 1rem;  */
  /* padding: 1rem; */
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* article {
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
} */

#contentViz {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  /* z-index: 0; */
}

.step {
  /* margin: 0 auto 2rem auto;
  background-color: #3b3b3b; */
  color: #373a3c;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active section{
  /* background-color: goldenrod;
  color: #3b3b3b; */
  opacity: 1;
}

/* .step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
} */


/* Nuevos estilos */ 
#logoHeader {
  max-width: 85px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  /* top: 0; */
  background-color:#fff;
}

#tablaScore thead tr:nth-child(1) th{
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

/* pictogram */

@font-face {
  font-family: 'StateFaceRegular';
  src: url('stateface-regular-webfont.eot');
  src: url('stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('stateface-regular-webfont.woff') format('woff'),
       url('stateface-regular-webfont.ttf') format('truetype'),
       url('stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.stateface {
 font-family: "StateFaceRegular";
}

.table-container {
 width: 100%;
 overflow: auto;
}

.table-container table {
 border-collapse: collapse;
 position: relative;
 width: 100%;
 /* left: 160px; */
}

.table-container th {
 border-bottom: 1px solid black;
 cursor: pointer;
}

.table-container td, th {
 padding-left: 10px;
 padding-right: 10px;
}

span.stateface,
span.fa {
 display: inline-block;
}

span.stateface {
 width: 25px;
 line-height: 14px;
 text-align: center;
}

td > span {
 float: left;
}

span.text {
 width: 40px;
 text-align: right;
 padding-right: 10px;
}

th.emp, td.emp {
 width: 40%;
}

th.emp_pc, td.emp_pc {
 width: 30%;
}

.emp span.fa {
 width: 8px;
}

.fa-arrow-up {
 color: darkgreen;
}

.fa-arrow-right {
 color: slategrey;
}

.fa-arrow-down {
 color: red;
}
