#outro {
  height: 640px;
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: #f3f3f3; */
  /* padding-top: 1rem;  */
  /* padding: 1rem; */
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* article {
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
} */

#contentViz {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  /* z-index: 0; */
}

.step {
  /* margin: 0 auto 2rem auto;
  background-color: #3b3b3b; */
  color: #373a3c;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active section {
  /* background-color: goldenrod;
  color: #3b3b3b; */
  opacity: 1;
}

/* .step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
} */


/* Nuevos estilos */
#logoHeader {
  max-width: 85px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  /* top: 0; */
  background-color: #fff;
}

#tablaScore thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

#tablaScore {
  line-height: 1.3;
}

.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

/* pictogram */

.table-container {
  width: 100%;
  overflow: auto;
  height: 90%;
}

.table-container table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: 90%;
  font-weight: 400;
  margin-top: 20px;
}

.table-container th {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 80%;
}

.table-container td,
th {
  padding-left: 10px;
  padding-right: 10px;
}

span.fa {
  display: inline-block;
}

td>span {
  float: left;
}

span.text {
  width: 40px;
  text-align: right;
  padding-right: 10px;
  font-size: 80%;
}

span.title {
  font-size: 80%;
}

th.puntaje,
td.puntaje {
  width: 50%;

}

th.puntaje {
  font-size: 80%;
}

th.diferencia {
  font-size: 80%;
}

th.diferencia,
td.diferencia {
  width: 20%;
}

th.colEntidad,
td.colEntidad {
  width: 30%;

}

.fa-arrow-up {
  color: darkgreen;
}

.fa-arrow-right {
  color: slategrey;
}

.fa-equals {
  color: slategrey;
}

.fa-arrow-down {
  color: red;
}

.icon-cat1 {
  background-image: url(img/normatividad-relleno.png);
  background-size: auto 100%;
}

.icon-cat2 {
  background-image: url(img/infraestructura-relleno.png);
  background-size: auto 100%;
}

.icon-cat3 {
  background-image: url(img/capital-humano-relleno.png);
  background-size: auto 100%;
}

.icon-cat4 {
  background-image: url(img/datos-relleno.png);
  background-size: auto 100%;
}

.icon-cat5 {
  background-image: url(img/comunicacion-relleno.png);
  background-size: auto 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-top: 3px;
}

.svg-inline--fa {
  vertical-align: initial !important;
}

ul.no_bullet {
  list-style-type: none;
  /* padding: 0;
  margin: 0; */
  padding-left: 10px;
}

li.normatividad {
  background: url('/img/normatividad.png') no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

li.infraestructura {
  background: url('/img/infraestructura.png') no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

li.capitalHumano {
  background: url('/img/capitalhumano.png') no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

li.mapeoGestion {
  background: url('/img/mapeoygestion.png') no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}

li.devMecanismos {
  background: url('/img/desarrollo.png') no-repeat left top;
  height: 100%;
  padding-left: 50px;
  /* padding-top: 3px; */
  padding-bottom: 10px;
  background-size: auto 32px;
  display: block;
}
