@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    background-color: #f3f4f3;
    overflow-x: hidden;
}

#sections {
    position: relative;
    display: inline-block;
    /* width: 400px; */
    top: 100px;
    z-index: 5;
    /* margin-right: 50px; */
}


.categoryLegend {
    font-family: 'Noto Sans SC', sans-serif;
}

.tituloSeccion{
    text-align: left;
}
.step {
    margin-bottom: 100px;
    height: 800px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-around;
}

/* .noStep {
    margin-bottom: 100px;
    height: 700px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    
} */

h1, h2 {
    font-weight: 700;
    text-align: right;
    line-height: 32px;
    margin-bottom: 2rem !important;
}

h1 {
    font-size: 35px;
}

strong {
    color: rgb(245, 155, 155);
}

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: sticky;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    /* height: 1000px;
    width: 1000px; */
}

.tick line {
    stroke: 'red'
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.1em;
    max-width: 400px;
    z-index: 100;
}

svg circle:hover{
    cursor: pointer;
}

.swatch {
    fill: #939393;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

/* img {
    display: none;
} */

.small-text {
    padding-right: 50px;
}

#logoFooter {
    max-width: 85px;
    /* padding-top: 15px; */
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 500px;
    line-height: 1.46429em;
    background-color: rgba(102, 102, 102, 1);
    color: #fff;
    min-height: 150px;
}

#footer1 {
    padding-top: 94px;
    padding-bottom: 64px;
    margin-top: 20px;
}

#logoFooter {
    max-width: 85px;
    padding-top: 15px;
}

#logoHeader {
    max-width: 85px;
}

#libreUso {
    max-width: 140px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#logoSesna {
    width: 115px;
    padding-top: 50px;
    padding-bottom: 45px;
}

.txtFooter {
    margin-bottom: 16px;
}

a.txtFooter {
    margin-bottom: 16px;
    color: #fff;
}

#footerFin {
    background-color: #fff;
}

#descargas {
    position: fixed;
    bottom: 10px;
    left: 20px;
    display: none;
    float: left;
    display: block;
}
#intro {
    position: fixed;
    top: 300px;

}
#tablaScore {
    position: fixed;
    /* width: 100%;
    height: 100%; */
    /* z-index: 110; */
    /* left: 0px; */
    /* background: blue; */
    top: 100px;
    /* display: block;  */
    /* visibility: hidden; */
}

.containerPrincipal {
    max-width: 1800px !important;
    font-family: 'Noto Sans SC', sans-serif;
}

.centerProgress{
    display:flex;
    align-items:center;
  }

#principalTitle {
    position: relative;
    display: inline-block;
    top: 60px;
    width: 100%;
}
.centerText{
    text-align: center;
}
#graficaUno {
    position: relative;
    display: inline-block;
    /* width: 400px; */
    top: 60px;
    z-index: 5;
    /* margin-right: 50px; */
}

.barraCH {
    background-color: #674ea7 !important;
    font-size: 0.9375rem !important;;
}
.barraMC {
    background-color: #fbbc04 !important;
    font-size: 0.9375rem !important;;
}

.barraInf{
    background-color: #34a853 !important;
    font-size: 0.9375rem !important;;
}

.barraGD{
    background-color: #ff6d01 !important;
    font-size: 0.9375rem !important;;
}

.barraNor{
    background-color: #34B3EB !important;
    font-size: 0.9375rem !important;;
}

p{
    margin-bottom: 2rem !important;
}

.categoryName{
    font-size: 0.9375rem;
    text-align: center;
}